.DS_Store
hw1/2018年数据
demos/lightning_logs
demos/eurosat-100-test.txt
demos/eurosat-100-train.txt
demos/eurosat-100-val.txt
demos/EuroSAT100.zip
demos/ds
exercises/~$ercise.docx
hw1/light_rec.ipynb
.gitignore
hw1/ml-1m.zip
hw1/log/BPR/BPR-ml-100k-Feb-10-2025_16-19-20-55dbe2.log
hw1/log/LightGCN/LightGCN-ml-100k-Feb-10-2025_16-14-16-21a7c2.log
hw1/log/LightGCN/LightGCN-ml-100k-Feb-10-2025_16-18-37-21a7c2.log
hw1/ml-1m/movies.dat
hw1/ml-1m/ratings.dat
hw1/ml-1m/users.dat
